<?xml version='1.0' encoding='utf-8'?>
<RuleSet Name='Project Level Rule Overrides'
         Description='This rule set contains project level overrides for this project.'
         ToolsVersion='10.0'>
  <Rules AnalyzerId='Microsoft.Analyzers.ManagedCodeAnalysis' RuleNamespace='Microsoft.Rules.Managed'>

    <!-- CA1709 == Microsoft.Naming:'Identifiers should be cased correctly' -->
    <!-- 1 violations found -->
    <Rule Id='CA1709' Action='None' />


    <!-- CA1704 == Microsoft.Naming:'Identifiers should be spelled correctly' -->
    <!-- 1 violations found -->
    <Rule Id='CA1704' Action='None' />


    <!-- CA1304 == Microsoft.Globalization:'Specify CultureInfo' -->
    <!-- 1 violations found -->
    <Rule Id='CA1304' Action='None' />


    <!-- CA1062 == Microsoft.Design:'Validate arguments of public methods' -->
    <!-- 1 violations found -->
    <Rule Id='CA1062' Action='None' />


    <!-- CA1303 == Microsoft.Globalization:'Do not pass literals as localized parameters' -->
    <!-- 2 violations found -->
    <Rule Id='CA1303' Action='None' />


    <!-- CA2001 == Microsoft.Reliability:'Avoid calling problematic methods' -->
    <!-- 1 violations found -->
    <Rule Id='CA2001' Action='None' />


    <!-- CA1031 == Microsoft.Design:'Do not catch general exception types' -->
    <!-- 1 violations found -->
    <Rule Id='CA1031' Action='None' />


    <!-- CA1804 == Microsoft.Performance:'Remove unused locals' -->
    <!-- 1 violations found -->
    <Rule Id='CA1804' Action='None' />


    <!-- CA1305 == Microsoft.Globalization:'Specify IFormatProvider' -->
    <!-- 1 violations found -->
    <Rule Id='CA1305' Action='None' />


    <!-- CA2204 == Microsoft.Naming:'Literals should be spelled correctly' -->
    <!-- 10 violations found -->
    <Rule Id='CA2204' Action='None' />

  </Rules>
</RuleSet>
