<?xml version='1.0' encoding='utf-8'?>
<RuleSet Name='Project Level Rule Overrides'
         Description='This rule set contains project level overrides for this project.'
         ToolsVersion='10.0'>
  <Rules AnalyzerId='Microsoft.Analyzers.ManagedCodeAnalysis' RuleNamespace='Microsoft.Rules.Managed'>

    <!-- CA1502 == Microsoft.Maintainability:'Avoid excessive complexity' -->
    <!-- 2 violations found -->
    <Rule Id='CA1502' Action='None' />


    <!-- CA2000 == Microsoft.Reliability:'Dispose objects before losing scope' -->
    <!-- 1 violations found -->
    <Rule Id='CA2000' Action='None' />


    <!-- CA1719 == Microsoft.Naming:'Parameter names should not match member names' -->
    <!-- 2 violations found -->
    <Rule Id='CA1719' Action='None' />


    <!-- CA1725 == Microsoft.Naming:'Parameter names should match base declaration' -->
    <!-- 1 violations found -->
    <Rule Id='CA1725' Action='None' />

  </Rules>
</RuleSet>
