<?xml version='1.0' encoding='utf-8'?>
<RuleSet Name='Project Level Rule Overrides'
         Description='This rule set contains project level overrides for this project.'
         ToolsVersion='10.0'>
  <Rules AnalyzerId='Microsoft.Analyzers.ManagedCodeAnalysis' RuleNamespace='Microsoft.Rules.Managed'>

    <!-- CA1050 == Microsoft.Design:'Declare types in namespaces' -->
    <!-- 7 violations found -->
    <Rule Id='CA1050' Action='None' />


    <!-- CA1721 == Microsoft.Naming:'Property names should not match get methods' -->
    <!-- 1 violations found -->
    <Rule Id='CA1721' Action='None' />


    <!-- CA1053 == Microsoft.Design:'Static holder types should not have constructors' -->
    <!-- 2 violations found -->
    <Rule Id='CA1053' Action='None' />


    <!-- CA2000 == Microsoft.Reliability:'Dispose objects before losing scope' -->
    <!-- 18 violations found -->
    <Rule Id='CA2000' Action='None' />


    <!-- CA1309 == Microsoft.Globalization:'Use ordinal StringComparison' -->
    <!-- 2 violations found -->
    <Rule Id='CA1309' Action='None' />


    <!-- CA1306 == Microsoft.Globalization:'Set locale for data types' -->
    <!-- 11 violations found -->
    <Rule Id='CA1306' Action='None' />

  </Rules>
</RuleSet>
