<?xml version='1.0' encoding='utf-8'?>
<RuleSet Name='Project Level Rule Overrides'
         Description='This rule set contains project level overrides for this project.'
         ToolsVersion='10.0'>
  <Rules AnalyzerId='Microsoft.Analyzers.ManagedCodeAnalysis' RuleNamespace='Microsoft.Rules.Managed'>

    <!-- CA1812 == Microsoft.Performance:'Avoid uninstantiated internal classes' -->
    <!-- 1 violations found -->
    <Rule Id='CA1812' Action='None' />


    <!-- CA1811 == Microsoft.Performance:'Avoid uncalled private code' -->
    <!-- 1 violations found -->
    <Rule Id='CA1811' Action='None' />

  </Rules>
</RuleSet>
